body{
    background-color: rgba(76, 115, 10, 0.07);
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

#img-banner{
    position: fixed;
    top:0px;
    right: 0px;
}

#titulo{
    text-align: center;
}

h2{
    background-color: #B3A742;
    padding: 5px;
    color: #FFFFFF;

    border-radius:15px; /** bordas arredondadas*/
    border: 1px solid black;    

    background:linear-gradient(top, #9C8F67, #C7BE9B); /* degradê  */
    background:-moz-linear-gradient(top, #9C8F67, #C7BE9B 30%); /**comecar a partir dos 30% */
    background:-webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);
    background:-ms-linear-gradient(top, #9C8F67, #C7BE9B 30%);
    
}

/* figura do mousse*/
figure{
    background-color:white;
    width:400px;
    text-align:center;
    padding:15px;
    font-family:'Comic Sans MS',cursive;
    border:1px solid black;

    box-shadow:5px 5px 3px rgba(0,0,0,0.7); /* sombra ( horizontal , vertical, tamanho nitidez, cor )*/

    -moz-transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    
}

/*  tabela de nutrietes */

#tb-nutrientes{
    border: 1px solid black;
    width: 40%;
    margin: auto;
}

#tb-nutrientes th{
    background-color: #F8EA6B;
}

#tb-nutrientes tr:nth-child(odd){
    background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #F8EAB3;
}

/* navbar para  nao ocorra a quebra de linha */
/* REMOVA O SEGUINTE BLOCO DE ESTILOS:
nav ul li{
    display: inline;
    margin-right: 50px;
}
*/

nav {
    float: left;
    width: 200px;
}

#conteudo {
    float: right;
    width: 640px;
}

nav ul li {
    background: #C7BE9B;
    padding:3px;
    margin-bottom:5px;    
}

nav ul li a{
    color:black;
    text-decoration:none;
}

nav ul{
    list-style:none; /** retirar as bolinhas de ul*/
    padding-left: 0px;
}

nav ul li:hover{
    background-color:#9C8F67;
}